# Archivos y carpetas del sistema
.DS_Store
Thumbs.db
*.log

# Archivos de entorno y configuración local
.env
.env.*

# Dependencias y compilados
/node_modules/
vendor/
composer.lock
package-lock.json

# Archivos de caché y temporales
*.cache
*.tmp

# Archivos de WordPress que no deben incluirse
wp-config.php
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/

# Archivos de IDEs y editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Otros
*.zip
*.tar.gz
